<button class='{{styleNamespace}}'>
  Normal button
</button>
<button
  class='{{styleNamespace}}__button {{styleNamespace}}__button--state-success'
>
  Success button
</button>
<button
  class='{{styleNamespace}}__button {{styleNamespace}}__button--state-danger'
>
  Danger button
</button>